* {
  color: #111;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(235, 235, 235);
}

.parent {
  padding: 30px;
  gap: 30px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.card {
  height: 320px;
  width: 250px;
  background-color: #fff;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
}

.center {
  margin-bottom: 20px;
}
.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center span {
  font-size: 11px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 2px 4px;
  font-weight: 500;
  border-radius: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 0px;
}

.bottom button {
  border: none;
  background-color: #111;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 7px;
}

.bottom .tag2 h3 {
  font-size: 18px;
}

.bottom .tag2 p {
  font-size: 12px;
  color: #8b8b8b;
}
